.Bloglist {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    border-style: solid;
    border-color:lightgray;
 
 
}

.Bloglist button {
    margin-left: 10px;
}

.Blog-ForYou{
   
    display: flex;
    
    justify-content: auto;
    margin-left: 50px;
    margin-right: 50px;
    flex-wrap: wrap;
   
  }

  .table-style{
    border-style: solid;
    border-color: lightgray;
    max-width: 400px;
    min-height:350px; 
    max-height: 350px;
    font-size: 10px;
    margin-left:10px;
    margin-top:10px

  
  }

  .heading{
      font-size: 15px;

  }
  .blogfooter{
   margin-top: 100px;
   font-size:10px;
  }
  .blogdes{
      margin-top:20px;
      color:lightslategray ;
      font-size:12px;
      
  }
  .bookmarklogo{
     width: 25px;
     height:25px;
     margin-left: 55px;

  }
  .memberIcon{
    width: 15px;
    height:15px;
    margin-left: 95px;
  }
  .audioIcon{
    width: 20px;
    height:20px;
    margin-right: 5px;
  
  }

  #circle, #circle .segment{
      border-radius:50%;     
      border-style:solid;
      box-sizing: border-box;
      height:40px;
      background-position: inherit;
      width: 40px;
      border-top: solid green 2px;
      border-bottom: solid green 2px;
      clip-path: inset(0% 10% 0% 10%);
      left: -1px;
  }

  /* .column {
  float: left;

} */

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
  display: flex;
  flex-direction: column;
} */

